# MongoDB Data Population job
MONGO_URI=mongodb://root:password@mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0&authSource=admin
MONGO_DB_NAME=
MONGO_COLLECTION_NAME=



# MongoDB Environment
MONGO_REPLICAS=1
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password